# Compiled class files

*.class



# Logs

*.log



# Build folder

target/



# IDE files

.vscode/

.idea/



# OS files

.DS_Store

Thumbs.db



# Sensitive files

application.properties

application.yml

.env

*.secret

*.key


